<nav class="cover-navigation navigation--social">
  <ul class="navigation">

    {% if site.social.instagram_official %}
    <!-- Instagram CN -->
    <li class="navigation__item">
      <a href="{{ site.social.instagram_cn }}" title="Instagram CN" target="_blank">
        <i class='social fa fa-instagram'></i>
        <span class="label">Instagram Official</span>
      </a>
    </li>
    {% endif %}

    {% if site.social.instagram_jp %}
    <!-- Instagram JP -->
    <li class="navigation__item">
      <a href="{{ site.social.instagram_jp }}" title="Instagram JP" target="_blank">
        <i class='social fa fa-instagram'></i>
        <span class="label">Instagram JP</span>
      </a>
    </li>
    {% endif %}

    {% if site.social.mail %}
    <!-- Email -->
    <li class="navigation__item">
      <a href="mailto:{{ site.social.mail }}" title="Email">
        <i class='social fa fa-envelope'></i>
        <span class="label">Email</span>
      </a>
    </li>
    {% endif %}

  </ul>
</nav>
